<!-- <header class = "header">
    <a href="/" class = "header__logo">PlanticaBlog</a>
    <nav class = "header__nav">
        <ul>
            <li>
                <a href="/" class="">Strona główna</a>
            </li>
            <li>
                <a href="/" class="">Kategorie</a>
            </li>
            <li>
                <a href="/about" class="">O mnie</a>
            </li>
            <li>
                <a href="/contact" class="">Kontakt</a>
            </li>
        </ul>
    </nav>
    <div class = "header__button">
        <button class = searchBtn aria-expanded="false">
            Szukaj
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
    </div>
</header> -->

<header class="header">
    <a href="/" class="header__logo">PlanticaBlog</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Strona główna</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Kategorie</a>
                <ul class="dropdown-content">
                    <li><a href="/cathegory/poradnik">Poradniki</a></li>
                    <li><a href="/cathegory/dekoracje">Dekoracje</a></li>
                    <li><a href="/cathegory/problemy">Problemy roślin</a></li>
                    <li><a href="/cathegory/inspiracje">Inspiracje</a></li>
                </ul>
            </li>
            <li>
                <a href="/about" class="">O mnie</a>
            </li>
            <li>
                <a href="/contact" class="">Kontakt</a>
            </li>
        </ul>
    </nav>
    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            Szukaj
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
    </div>
</header>