<div class="home">
    <h1 class = "home__heading">Witaj na blogu Plantica!</h1>
    <p class = "home__body">Tu dzielę się swoją miłością do roślin.</p>
</div>
<img src = "/img/aloe_home.jpg" alt = 'Aloes' class = "aloe_img" width = "800"  height = "500"> 
<section class = "articles">
    <h3 class ="articles__heading">Najnowsze wpisy</h3>
    <ul class="articles_list">

        <% data.forEach(post => { %>
        <li>
            <a href = "/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class = "articles_list__date"><%=post.createdDate.toLocaleDateString("pl-PL")%></span>
            </a>
        </li>
        <% }) %>

    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; Pokaż starsze posty</a>
      <% } %>
</section>